<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <span id="status-label">Click start to begin</span>
    </div>
    <div>
        <button id="record-button">Record</button>
        <button id="start-button">Start</button>
        <button id="stop-button">Stop</button>
        <button id="delete-all">Delete All</button>
    </div>
    <ul id="recordings">

    </ul>
    <script src="popup.js" charset="utf-8"></script>
</body>

</html>